/* Colour Palette
Dark Purp:  #9e5581
Med Pink: #ce70a8
Light Blue #b4baea */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding-top: 10px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 16px;

}



h1 {
    font-size: 1em;
    color: #ce70a8;
    font-family: 'Times New Roman', serif;
}


h2 {
    font-size: 0.875em;
    color: #fff;
    margin: 0px;
    font-family: 'Times New Roman', serif;
}

h3 {
    font-size: 0.45em;
}

h4 {
    font-size: 0.2em;
}

p {
    font-size: 0.2em;
}

img {
    height: 150px;
    width: 150px;
}


a:link {
    color: #EF82C3;
    text-decoration: none;
    font-size: 15px;
    text-align: center;

}

a:visited {
    color: #EF82C3;
    text-decoration: none;

}

a:hover {
    color: #818CEF;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

/* Header Section */

#main-nav {
    height: 40px;
    padding: 10px;
    display: flex;
    Justify-content: space-around;
    gap: 1em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
}


.fixed-header {
    width: 100%;
    height: 40px;
    padding-bottom: 15px;
    position: fixed top 0;
    background: #fff;
    color: rgb(234, 124, 198);
}

/* End Header Section */

/* About Us Section */

#about-us-section {
    background-color: #f0c9e0;
    padding: 0.5em;
    font-size: 3em;
    text-align: center;
}

#learnCodeWrapper {
    padding: 2.3em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.learnCode {
    transform: rotate(-6deg);
    font-size: 1em;
    background-color: #9e5581;
    color: #fff;
    padding: 0em 0.2em;
    margin: 0.8em 0.1em;
    border: 3px dotted #ffd4d9;
    display: inline-block;
    white-space: nowrap;
}


#inYourSpareTime {
    font-size: .6em;
    color: #ce70a8;
    text-shadow: 1px 1px 2px #fff;
    margin: 0;
    position: relative;
    bottom: 1em;
}

#lineBreak1::after {
    content: "\a";
    white-space: pre;
}


/* End About Us Section */


/* End About Us Section */

/* To Do List Section */

#todolist-section {
    background-image: linear-gradient(120deg,#e2c35d, #d88771);
    min-height: 100vh;

}

#todolist-section h2 {
 color: #FFF;
 font-size: 2rem;
 padding: 1em 0em;

}

#todolist-section form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   }

   form input, form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: #FFF;
   }

   form button {
    color: #d88771;
    background: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
   }

   form button:hover {
    background: #d88771;
    color: #FFF;
   }

   .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .todo-list {
    min-width: 50%;
    list-style: none;

   }

   .todo {
    margin: 1rem;
    background: #FFF;
    color: #000;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
   }


   .todo li {
    flex: 1;
   }

   .trash-btn, .complete-btn {
    background: #FF6F47;
    color: #FFF;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
   }

   .complete-btn {
    background: #31be31;
   }

   li, .todo-item {
padding: 0rem 0.6rem;
   }

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;

}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 0.8rem;
    position: relative;
    overflow: hidden;
    color: #fff;
}

select {
    width: 10rem;
    cursor: pointer;
    padding: 0.9rem;
    color: #FF6F47;
}

.select::after {
    content: "\25BC";
    font-size: 0.8rem;
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
background: #FFF;
color: #ff6f47;

}



/* End To Do List Section */
/* HTML Basics Section */

#html-basics-section {
    background-color: #b4baea;
    background-image: url(/images/BG\ check.png);
    background-size: 30%;
}


#html-basics-section .headingStyle {
    text-align: center;
    font-size: 1.2em;
    background-color: #9e5581;
    color: #fff;
    padding-right: 0.2em;
    padding-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    border: 3px dotted #ffd4d9;
    display: -webkit-inline-box;

}

#html-basics-section,
h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 2em .3em;
}



/* Controls all articles characteristics */

.article-excerpts {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-wrap: break-word;
    height: fit-content;
    padding: 1em .5em;

}

article {
    border-radius: 25px;
    min-height: 200px;
    min-width: 200px;
    border: 4px solid #9e5581;
    margin: 10px;
    padding: .3em 0em;
    background-size: cover;
    background-position: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000;
}

article:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}



/* Controls individual articles background images */
#html-article {
    background-image: url(/images/html1.jpg);
}

#lists-article {
    background-image: url(/images/coding1.jpg);
}

#links-article {
    background-image: url(/images/html2.jpg);
}

#divs-article {
    background-image: url(/images/coding2.jpg);
}

#modern-html-article {
    background-image: url(/images/girlcomputer.jpg);
}






/* End HTML Basics Section */



/* Sign Up Section */


#signup-form-section {
    background-color: antiquewhite;
    height: fit-content;
}


#signup-form-section,
h2 {
    text-align: center;
    color: #ce70a8;
    font-size: 1.5rem;
    padding: 20px;

}

#signup-form-section .headingStyle {
    text-align: center;
    font-size: 1.2em;
    background-color: #9e5581;
    color: #fff;
    padding-right: 0.2em;
    padding-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    border: 3px dotted #ffd4d9;
    display: -webkit-inline-box;

}



/* Sign Up Form */
.form {
    padding: 5px;
    text-align: center;
    background-color: #f0c9e0;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    border-radius: 25px;
    border: 10px dotted #ce70a8;
    box-shadow: 10px 10px 200px orange;
    display: flex;
    flex-direction: column;

}

.form .form-H2 {
    font-size: 1.3rem;
    color: #ce70a8;
    font-family: 'Raleway', sans-serif;

}



.field {
    font-size: 1.2rem;
    margin-bottom: 1em;
    color: #858ab2;
}


.field input,
.field ::placeholder,
.field select {
    color: #858ab2;
    border: none;
    border-bottom: 1.5px solid #ce70a8;
    background: transparent;
    outline: none;
    padding: 3px 2px;
    margin: 8px 0px;
    box-sizing: border-box;


}

input:focus,
input:active {
    border-color: transparent;
    border-bottom: 3px solid #ce70a8;
    ;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #ce70a8;
    border: 2px solid transparent;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: transparent;
    color: #9e5581;
    border: 2px solid #9e5581;
}


textarea {
    color: #858ab2;
    margin: auto;
    margin-top: 1em;
    display: block;
    min-height: 8em;
    min-width: 15em;
    border: none;
    background-color: #FFFFFF50;
    resize: none;
    outline: none;

}


/* End Sign Up form */



/* FOOTER */

.footer {
    height: 40px;
    padding: 10px;
    position: fixed bottom 0;
    background: #fff;
    color: rgb(234, 124, 198);
    text-align: center;
}



/* END FOOTER */


/* MEDIA QUERIES */


/* IPAD */
@media only screen and (min-width: 768px) {


    #html-basics-section {
        height: fit-content;
        background-size: 20%;
    }




    article {
        min-height: 200px;
        min-width: 200px;
    }


    .form {
        width: 60%;
        height: 30%;

    }


}

/* DESKTOP  */
@media only screen and (min-width: 1024px) {

    #about-us-section {
        height: 400px;
        display: flex;
        justify-content: center;

    }

    #learnCodeWrapper {
        padding: .7em 0.3em;
        display: flex;
        flex-direction: row;
    }


    .learnCode {
        font-size: 1.2em;
    }


    #inYourSpareTime {
        font-size: .8em;
        bottom: 10px;
        padding-left: 5px;
    }

    #lineBreak1::after {
        content: normal;
        white-space: normal;
    }


    #html-basics-section {
        background-size: 13%;
        height: fit-content;
    }


    article {
        min-height: 250px;
        min-width: 250px;
    }


    .form {
        width: 35%;
        height: 25%;
        margin: 0 auto;
    }

}